body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

header {
  margin-top: 20px;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
}

.header-title-area {
  width: 920px;
  margin: 0 auto 40px auto;
}

.logo {
  font-size: 32px;
}

.text-sub {
  color: #777;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

.navbar-laravel {
  background-color: #00f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #00f;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

